/*ERROR MESSAGE*/
.error {
  display: grid;
  grid-template-rows: 4fr 1fr;
  width: 60%;
  max-width: 700px;
  width: 100%;
  height: auto;
  background-color: transparent;
  margin: 20px;
  gap:50px;
}
.error .error-content  {
  display: grid;
  grid-template-columns: 4fr 1fr;
  justify-content: space-between;
}
.error .error-content .message {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 600px;
}
.error .error-content .message p{
  margin: 0;  
  text-align: left;
  font-size: 20px;
  color: var(--text-color-rich-black);
}
.error .error-content .icona  {
  display: flex;
  justify-content: center;
  align-items: center;
}
.error-btn  {
  display: flex;
  margin-left: 50px;
}
.error-btn a {
  font-size: 16px;
  text-decoration: none;
  color: var(--text-color-rich-black);
  display: flex;
  transition: 0.25s;
  align-items: center;
}
.error-btn a:hover {
  color: var(--silver-blue);
}
.error-btn a:active{
  scale: 0.9;
}

/*PAGE ERROR*/

.wrapper-message-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--oxford-blue);
}
.wrapper-message-error .text_404,
.wrapper-message-error .text_403 {
  font-size: 130px;
  margin: 100px 0 50px 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight:600;
  letter-spacing: -15px;
  text-shadow: 10px 0px 0px #415a7788;
  transform: translateX(-10px);
}
.wrapper-message-error .text_404  i,
.wrapper-message-error .text_403  i  {
  margin: 0;
  padding: 0;
  text-shadow: 0px 0px 0px var(--oxford-blue);
  margin-left: 15px;
}
.wrapper-message-error .text_lost {
  text-align: center;
  font-size: 30px;
  margin: 20px;
  text-shadow: 2px 2px 10px #415a7788;
  font-family:'Times New Roman', Times, serif;
}
.wrapper-message-error a {
  text-decoration: none;
  color: var(--oxford-blue);
  font-size: 20px;
  border: 1.5px solid var(--oxford-blue);
  border-radius: 4px;
  padding: 10px 20px;
  margin-top: 35px;
  transition: 0.15s;
}
.wrapper-message-error a:hover{
  scale: 1.05;
  color: var( --background-color-platino);
  background-color: var(--oxford-blue);
  box-shadow: 0 0 20px #415a77b0;
}
.wrapper-message-error a:active{
  scale: 0.95;
}